-var titulo = "Sub-titulo Principal"
-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
doctype html
html
	head
		meta(charset="UFT-8")
		link(rel="stylesheet", href="css/ejercicio-pug.css")
	body
		header
			h1 PlatziGames
			a.boton Registro
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titulos[0][1]}
				p
					| Lorem ipsum dolor sit amet
					| consectetur adipiscing elit. 
					| Proin ex mi, gravida sit amet 
					| imperdiet vel, sodales a mi. 
					| Proin sit amet tellus nec nisl 
					| bibendum ornare nec at augue. 
					| Integer semper feugiat varius.
					span Proin sed urna quis orci interdum rutrum. Integer rhoncus finibus nunc, ac porttitor ex dapibus ac.
				a.boton Leer Más