extend componentes/plantilla.pug
block contenidos
	section.intro
		.intro__imagen: img(src="images/imagen.png")
		.intro__contenido
			h2= titulos[0]
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				| Proin ex mi, gravida sit amet imperdiet vel, sodales a mi. 
				| Proin sit amet tellus nec nisl bibendum ornare nec at augue. 
				| Integer semper feugiat varius.
				span Proin sed urna quis orci interdum rutrum. Integer rhoncus finibus nunc, ac porttitor ex dapibus ac.
			a(class="boton") Leer Mas
	main.contenido
		+caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
		+caja('imagen.png',titulos[2],'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
		+caja('imagen.png',titulos[3],'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')